extends layout

block variables
  - var emailAddr = user

block content
  h1= title 
    span(class="fas fa-file-upload")

  br
  br

  script(src='/stylesheets/dropzone.js')

  form(id='dz-upload' class='dropzone' action='/feedback' enctype='multipart/form-data' method='POST' tabindex='1')

  script.
    Dropzone.options.dzUpload = {
      paramName: "upload",
      dictDefaultMessage: "Drag and drop files here, or click to browse",
      init: function(){
        this.on("success", function(){
          window.setTimeout(function(){
            window.location.href = "/feedback"
          },1000);
        });
      }
    }

    document.body.addEventListener("keyup", function(even){
      if(event.keyCode === 13){
        event.preventDefault();
        document.getElementById("dz-upload").click();
      }
    });


  