extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/feedback', enctype='multipart/form-data', method='POST')
    input(type='file', name='upload')
    input(type='submit', value='Upload', class='btn btn-primary')