extends layout

block content
  h1= title

  br 
  br 
  br 

  p(style="font-size:18px") Please upload a file to be marked

  br
  br

  form(action='/feedback', enctype='multipart/form-data', method='POST')
    input(type='file', name='upload')
    input(type='submit', value='Upload', class='btn btn-primary')