extends layout

block content
  h1= title

  br
  br

  script(src='/stylesheets/dropzone.js')

  div(id="dropzone")
    form(id='dz-upload' class='dropzone needsclick dz-clickable' action='/feedback' enctype='multipart/form-data' method='POST')

  script.
    Dropzone.options.dzUpload = {
      paramName: "upload",
      init: function(){
        this.on("success", function(){
          window.location.href = ("/feedback");
        });
      }
    }


  