doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container(id="outerDiv")
      div.row
        div.vertical-center.jumbotron
          div.container
            block content