doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css')
  body
    div.container(id="outerDiv")
      div.row
        div.vertical-center.jumbotron
          div.container
            block content