extends layout

block content
  h1= title2
  
  
  hr(style="width:50%")
  br
  br

  span(class="fas fa-user-check")

  br
  br
  br

  a(class='btn btn-info btn-lg' id='loginButton' href='/auth/google') Login

  br


