extends layout

block content
  h1= title

  br 
  br 
  br 

  p Please login

  br
  br

  
  a(class="btn btn-primary" href='/auth/logout') Logout
  a(class="btn btn-primary" href='/auth/login') Login
  a(class="btn btn-primary" href='/') Home

  br

  a(class="google-btn" href="/auth/google") Google


