body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(
        rgba(189, 195, 199, 1), 
        rgba(238, 242, 243, 1));
}

html, body {
    min-height: 100%;
}

a {
  color: #00B7FF;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vertical-center {
    min-height: 50%;
    min-height: 50vh;

    display: flex;
    align-items: center;
    text-align: center;
}

#outerDiv {
    min-height: 75%;
    min-height: 75vh;

}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.jumbotron {
    -moz-box-shadow: 0px 10px 10px grey;
    -webkit-box-shadow: 0px 10px 10px grey;
    box-shadow: 0px 10px 10px grey;
    min-width: 75%;
}